main {
  display: flex;
  flex-flow: row wrap;
}

section {
    margin: auto;
    width: 300px;
    overflow: hidden;
    margin: 15px;
  }
  
  img {
    width: 90%;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
  }
  